<h3 style="text-align: center;width: 100%">Author List</h3>
<input type="text" [(ngModel)] ="term" placeholder=" Input infomation "/>

<table class="table table-striped">
  <thead>
 
    <tr>
      <th scope="col">Stt</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th sorted="col">Action</th>
    </tr>
  </thead>
    <tr  *ngFor="let book of books | async |filter:term ;let num = index">
       
        <th scope="row">{{num+1}}</th>
        <th scope="row">{{book.bookTitle}}</th>
        <th scope="row">{{book.dateOfPublication| date: 'dd/MM/yyyy' }}</th>
        <span class="btn btn-danger" (click)= "deleteBook(book.isbn)"> Delete </span>
        <span class="btn btn-info" (click)= "editBook(book.isbn)"> Edit </span>
      </tr>
    </tbody> 
  
</table>
<span class="btn  btn-primary" (click)= "formcreate()"> Add Author </span>