#
#Sat Sep 29 18:40:04 EDT 2018
ProjectVariable.PROJECT_NAME=librariesrestfullcontroller
DOC=doc
RES=src/main/resources
ProjectVariable.MAVEN_GROUP_ID=group.to.be.defined
ROOT_PKG=com.example.demo
WEB=src/main/webapp
ProjectVariable.REST_API_ROOT=/api/v1
ProjectVariable.REST_SERVER_PORT=3000
SRC=src/main/java
ENTITY_PKG=com.example.demo.controller
SpecificTemplatesFolder=
ProjectVariable.MAVEN_ARTIFACT_ID=librariesrestfullcontroller
TEST_RES=src/test/resources
ProjectVariable.PROJECT_VERSION=0.1
SpecificDestinationFolder=
TEST_SRC=src/test/java
ProjectVariable.REST_URL_ROOT=http\://localhost\:3000
TMP=tmp
